body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 20px;
    background-color: rgb(195, 255, 17);
}
h1{
    text-align: center;
    color: rgb(2, 1, 78);
}
form{
    max-width: 600px;
    margin: auto;
    background-color: rgb(153, 255, 94);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;

}
fieldset{
    border: 2px solid rgb(0, 128, 11);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(233, 255, 92);
}
legend{
    font-weight: bold;
    text-align: left;
    color: rgb(5, 192, 114);
}
label{
    display: block;
    margin-top: 10px;
    color: #270047;
}
input,textarea{
    width: calc(100%-1px);
    padding: 8px;
    margin-top: 8px;
    border: 1px solid rgb(92, 223, 21);
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100px;
    padding: 10px;
    background-color: rgb(72, 220, 116);
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
button:hover{
    background-color: rgb(10, 224, 188);
}